node_modules
package-lock.json
./algorithm./idea
.env
./idea
./node_modules
./pytest_cache
./vscode
./algorithm/.idea
./algorithm/__pycache__
./algorithm/classes/__pycache__
.idea
./node_modules
./algorithm/.idea
node_modules/.package-lock.json
package-lock.json
package-lock.json
node_modules/.package-lock.json
package-lock.json
