node_modules
package-lock.json
./algorithm./idea
.env
./idea
./node_modules
./pytest_cache
./vscode
./algorithm/.idea
./algorithm/__pycache__
node_modules/
algorithm/flask_server/venv/Scripts
algorithm/flask_server/venv/Include
algorithm/flask_server/venv/Lib
